body {
    margin: 0px;
}

@font-face {
    font-family: 'Street2-Thin';
    src: url('./fonts/Street2-Thin.e37d5328.woff2') format('woff2');
}

@font-face {
    font-family: 'Street2-regular';
    src: url('./fonts/roboto-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Street2-Bold';
    src: url('./fonts/Street2-Bold.1808b3fd.woff2') format('woff2');
}

@font-face {
    font-family: 'Street2-Book';
    src: url('./fonts/Street2-Book.33ff7498.woff2') format('woff2');
}

@font-face {
    font-family: 'Street2-ThinItalic';
    src: url('./fonts/Street2-ThinItalic.aae1ce0c.woff2') format('woff2');
}

@font-face {
    font-family: 'Street2-Medium';
    src: url('./fonts/Street2-Medium.65dccad8.woff2') format('woff2');
}


.header_container {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr 270px;
    grid-template-rows: auto;
    padding: 0px 100px;
}

.header-item1 {
    margin: 0px 10px;
}

.header-item1 img {
    height: 62px;
    width: 62px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    margin: 20px;
    list-style-type: none;
    font-family: 'Street2-thin';
    font-size: 11px;
}

.nav-links li {
    margin: 0px 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
}

.dropdown-select {
    width: 60px;
    border: none;
    cursor: pointer;
    font-family: 'Street2-thin';
    font-size: 11px;
}

.header-item3 {
    margin: auto;

}

.sign_in {
    color: rgb(76, 74, 74);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Street2-Medium';
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
}

.sign_in:hover {
    background-color: bisque;
}

.sign_up {
    cursor: pointer;
    color: #fff;
    padding: 12px 10px;
    background: #002be7;
    font-family: 'Street2-Medium';
    font-size: 11px;
    border-radius: 2px;
    transition-duration: .3s;
}

.max-icon {
    background-image: url(./assets/max.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    height: 13px;
    width: 58px;
    display: inline-block;
}

.header-item3 a:hover {
    text-decoration: none;
    background-color: #052c65;
}

@media (max-width: 800px) {
    .header_container {
        grid-template-columns: 0px auto 500px;
        grid-template-rows: auto auto auto;
    }

    .nav-links {
        flex-direction: column;
        width: 0px;
        display: inherit;
    }

    .nav-links li {
        display: none;
    }

    .header-item3 {
        margin-left: 50px;
    }
}